/* Circular Normal*/
@font-face {
font-family: 'Circular';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://vadlamudiashok.github.io/Fonts/CircularTT-Regular.ttf) format('truetype');
}
/* Circular Italic*/
@font-face {
font-family: 'Circular';
font-style: italic;
font-weight: 400;
font-display: swap;
src: url(https://vadlamudiashok.github.io/Fonts/CircularTT-italic.ttf) format('truetype');
}
/* Circular Bold*/
@font-face {
font-family: 'Circular';
font-style: normal;
font-weight: 700;
font-display: swap;
src: url(https://vadlamudiashok.github.io/Fonts/CircularTT-Bold.ttf) format('truetype');
}
/* Circular Bold Italic*/
@font-face {
font-family: 'Circular';
font-style: italic;
font-weight: 700;
font-display: swap;
src: url(https://vadlamudiashok.github.io/Fonts/CircularTT-Bolditalic.ttf) format('truetype');
}
