/*J&J Circular */
@font-face {
font-family: 'J&J Circular';
font-style: normal;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts/CircularTT-Black.ttf) format('truetype');
}



