/*J&J CircularTT-Black */
@font-face {
font-family: 'J&J CircularTT-Black';
font-style: normal;
font-display: swap;
src: url(https://vadlamudiashok.github.io/Fonts1/J&J CircularTT-Black.ttf) format('truetype');
}
