
/*J&J Circular */
@font-face {
font-family: 'J&J Circular';
font-style: normal;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts/J&J CircularTT-Black.ttf) format('truetype');
}
/*J&J Circular */
@font-face {
font-family: 'J&J Circular';
font-style: italic;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts/J&J CircularTT-BlackItalic.ttf) format('truetype');
}
/*J&J Circular */
@font-face {
font-family: 'J&J Circular';
font-style: bold;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts/J&J CircularTT-Bold.ttf) format('truetype');
}
/*J&J Circular */
@font-face {
font-family: 'J&J Circular';
font-style: italic;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts/J&J CircularTT-BoldItalic.ttf)format('truetype');
}
/*J&J Circular */
@font-face {
font-family: 'J&J Circular';
font-style: italic;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts/J&J CircularTT-Book.ttf)format('truetype');
}
/*J&J Circular */
@font-face {
font-family: 'J&J Circular';
font-style: italic;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts/J&J CircularTT-BookItalic.ttf)format('truetype');
}

/*J&J Circular */
@font-face {
font-family: 'J&J Circular';
font-style: italic;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts/J&J CircularTT-Light.ttf)format('truetype');
}
/*J&J Circular */
@font-face {
font-family: 'J&J Circular';
font-style: italic;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts/J&J CircularTT-LightItalic.ttf)format('truetype');
}
/*J&J Circular */
@font-face {
font-family: 'J&J Circular';
font-style: italic;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts/J&J CircularTT-Medium.ttf)format('truetype');
}
/*J&J Circular */
@font-face {
font-family: 'J&J Circular';
font-style: italic;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts/J&J CircularTT-MediumItalic.ttf)format('truetype');
}


