/*Cirblack */
@font-face {
font-family: 'Cirblack';
font-style: normal;
font-display: swap;
font-weight: 700;
src: url(https://vadlamudiashok.github.io/Fonts1/Cirblack.ttf) format('truetype');
}



